@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #ded8fe;
}

::-webkit-scrollbar-thumb {
  background: #6e44ff;
}

@layer components {
  .button {
    @apply text-white px-5 py-1 rounded-2xl font-semibold active:scale-75 transition-all duration-300 ease-in-out;
  }
  .input {
    @apply border-2 border-secondaryColor outline-none px-5 py-2 w-[300px] rounded-[2rem] text-mainColor font-medium text-lg;
  }
}

#toggle[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

#toggleLabel {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: #ded8fe;
  display: block;
  border-radius: 20px;
  position: relative;
}

#toggleLabel:after {
  content: "";
  position: absolute;
  top: 0.8px;
  left: 0.8px;
  width: 19px;
  height: 19px;
  background: #fff;
  border-radius: 22.5px;
  transition: 0.3s;
}

#toggle:checked + #toggleLabel {
  background: #6e44ff;
}

#toggle:checked + #toggleLabel:after {
  left: calc(100% - 0.4px);
  transform: translateX(-100%);
}

#toggleLabel:active:after {
  width: 100%;
}
